
.header .container {
    width: 1177px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 40px;
}

a:hover {
    color: #9cffff;
    font-size: 25px;
}

.first-item:hover .akar {
    background-color: #9cffff;
}

.akar {
    transition: 0.4s;
}

.header {
    position: fixed;
    display: flex;
    width: 100%;
    top: 44px;
}


.header .list ul {
    display: flex;
    gap: 36px;
}

.header button {
    border: 0;
    border-left: 2px solid #E7E6EF;
}

.header button img {

    margin: 0 13px;
}



.header input {
    border: 0;
}

.header form {
    display: flex;
    border: 2px solid #E7E6EF;
}

.input-search {
    height: 40px;
    display: flex;
}

.product {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.home {
    color: var(--primary);
}

.fa-solid.fa-list-ul.menu {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 920px) {

    .header .list,
    .header .input-search {
        display: none;
    }

    .fa-solid.fa-list-ul.menu {
        display: block;
        font-size: 30px;
        color: #0D0E43;
        cursor: pointer;
    }
}

/*footer style*/
.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer .row {

    align-items: center;
    justify-content: space-between;

}

.footer .row .right-footer .row {
    gap: 89px;
}

.footer .left-footer {
    display: flex;
    flex-direction: column;

    gap: 34.43px;
}

.footer .left-side {
    display: flex;
    flex-direction: column;
    gap: 46.65px;
}

.footer .left-side-items ul {
    display: flex;
    flex-direction: column;
    gap: 23.32px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer .center {
    display: flex;
    flex-direction: column;
    gap: 46.65px;
}

.footer .center-items ul {

    display: flex;
    flex-direction: column;
    gap: 23.32px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer .right-side {
    display: flex;
    flex-direction: column;
    gap: 46.65px;

}

.footer .right-side-items ul {

    display: flex;
    flex-direction: column;
    gap: 23.32px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer form {
    display: flex;
}

.footer input {
    width: 242px;
    height: 45px;
    padding-left: 20px;
    border-radius: 3px;
    border: 0;
}

.footer button {
    width: 135px;
    height: 45px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

input::placeholder {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #8A8FB9;
}

.bottome-text-left-footer {
    display: flex;
    flex-direction: column;
    gap: 13.21px;
}

.footer a {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #8A8FB9;
}

.footer button:hover {
    color: #0D0E43;
}

a:hover {
    text-decoration-line: underline;
}

@media screen and (min-width: 0px) and (max-width: 853px) {
    .footer .row {
        justify-content: center;
        align-items: center;
    }

    .footer .left-footer,
    .right-footer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer .right-footer .left-side,
    .footer .right-footer .center,
    .footer .right-footer .right-side {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer .left-footer form {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer .left-footer form button {
        width: 100%;
    }

    .footer .left-footer .bottome-text-left-footer {
        align-items: center;
        text-align: center;
    }

    .footer .right-footer ul {
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 854px) and (max-width: 2100px) {

    .footer .left-footer,
    .footer .right-footer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer .right-footer .left-side,
    .footer .right-footer .center,
    .footer .right-footer .right-side {
        width: calc((100% - 178px) / 3);
        justify-content: center;
        align-items: center;
    }

    .footer .right-footer .row {
        gap: 66px;

    }
}

/*end footer style*/


/*start hero section*/
.hero-section {
    background-image: url("../image/Rectangle\ 102.png");
    height: 462px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.text-hero-section {
    width: 574px;
    height: 185px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

.text-hero-section h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    color: #151875;
    font-weight: bold;
    text-align: center;
    line-height: 155%;
    letter-spacing: 1.5%;
}

.text-hero-section button {
    width: 173px;
    height: 49px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    font-weight: regular;
    border-radius: 2px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .hero-section {
        height: 300px;
        margin-top: 150px;
    }

    .text-hero-section {
        width: 90%;
        height: auto;
    }

    .text-hero-section h1 {
        font-size: 24px;
    }
}

/*end hero section*/
/*start product section*/
.Featured-Products {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Featured-Products h3 {
    color: var(--primary);
    font-family: Lato, sans-serif;
}

.Featured-Products .color-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 52px;
    height: 4px;
}

.Featured-Products button {
    width: 14px;
    height: 4px;
    border-radius: 10px;

}

.Featured-Products .Turquoise {
    background-color: #05E6B7;
}

.Featured-Products .Hot-Pink {
    background-color: #F701A8;
}

.Featured-Products .blue {
    background-color: #00009D;
}

.Featured-Products .row {
    flex-direction: column;
    gap: 46px;
}

.Featured-Products .row .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.Featured-Products .row .product-card {
    display: flex;
    flex-direction: column;

    width: 270px;
    height: 361px;
    border: 1px solid #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.Featured-Products .product-image {
    width: 270px;
    height: 236px;
    background-color: #F6F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Featured-Products .image-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    height: 125px;
    padding-top: 15px;
}

.Featured-Products .price-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}




.Featured-Products .group {
    background-color: #EEEFFB;
}

.Featured-Products .image-button {
    position: absolute;
    bottom: 5px;
    opacity: 0;
}

.Featured-Products .details {
    width: 94px;
    height: 29px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: medium;
    border-radius: 2px;
    background-color: #08D15F;

}

.Featured-Products .product-card:hover .icons-images,
.Featured-Products .product-card:hover .image-button {
    opacity: 1;
    transition: 0.4s;
}

.Featured-Products .product-card:hover {
    box-shadow: 0px 0px 0px;
    border: 1px solid #f0e9e9;

}

.Featured-Products .product-card:hover .active-h3 {
    color: #FFFFFF;
}

.Featured-Products .product-card:hover .image-info-active {
    background-color: #2F1AC4;
}

.Featured-Products .product-card:hover .blue-active {
    background-color: #FFEAC1;
}

.Featured-Products .product-card:hover .price-info-active span {
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}



@media screen and (min-width: 0px) and (max-width: 768px) {

    .Featured-Products .row .product-card {
        width: 100%;
    }

    .Featured-Products .row .product-image {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1684px) {

    .Featured-Products .row .product-card {
        width: calc((100% - 30px) / 2);
    }

    .Featured-Products .row .product-image {
        width: 100%;
    }
}

@media screen and (min-width: 1685px) and (max-width: 1920px) {

    .Featured-Products .row .product-card {
        width: calc((100% - 90px) / 4);
    }

    .Featured-Products .row .product-image {
        width: 100%;
    }
}

/*end product section*/
/*start promotional header section*/
.promotional-header {
    margin-top: 130px;
    background-color: #F2F0FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotional-header .row {
    width: 100%;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}

.promotional-header .container .header-left {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 581px;
}

.promotional-header .container .header-left .first-item {
    font-size: 16px;
    color: var(--primary);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    line-height: 28px;
}

.promotional-header .container .header-left .second-item {
    font-size: 16px;
    color: #8A8FB9;
    font-family: "Lato", sans-serif;
    line-height: 28px;
    max-width: 560px;
}

.promotional-header .container .header-left button {
    font-family: "Josefin Sans", sans-serif;
    width: 135px;
    height: 45px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 3px;
}

.promotional-header .container .header-left h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    font-size: 53px;
    max-width: 581px;
    line-height: 170.5%;
    letter-spacing: 1.5%;
}

.promotional-header .container .header-right {
    max-width: 706px;
}

.promotional-header img {
    width: 100%;
    max-width: 525px;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
    .promotional-header .row {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .promotional-header .container .header-left {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .promotional-header .container .header-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

}

/*end promotional header section*/
/*start Leatest products section*/
.Leatest-Products {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Leatest-Products .container .h2-and-list {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.Leatest-Products .row {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 58px;
    width: 100%;
}

.Leatest-Products .leatest-product-newArrival {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    flex-wrap: wrap;
}

.Leatest-Products .leatest-product-newArrival .chair-image {
    background-color: #EEEFFB;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
}

.Leatest-Products .chair-prodcut {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc((100% - 111px) / 3);
}

.Leatest-Products .sale-product {
    position: absolute;
    top: 10px;
    left: 0px;
    opacity: 0;
}

.Leatest-Products .text-image {
    display: flex;
    justify-content: space-between;
}

.Leatest-Products .container .text-image h3 {
    color: #151875;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 500;
}

.Leatest-Products .icons-images {
    flex-direction: column;
    bottom: -90px;
    left: 13px;
    justify-content: center;
    align-items: center;
}

.Leatest-Products .container .img-chair {
    max-width: 245px;
    width: 100%;
}

.Leatest-Products .container .text-image .price-info span {
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 400;
}

.Leatest-Products .container .text-image .price-info .line-through {
    font-size: 12px;
    color: var(--primary);
    text-decoration: line-through;
}

.Leatest-Products .container .chair-image:hover {
    background-color: #ffffff;
}

.Leatest-Products .container .chair-image:hover .img-chair {
    border: 1px solid #000000;
}

.Leatest-Products .container .chair-image:hover .sale-product,
.Leatest-Products .container .chair-image:hover .icons-images {
    opacity: 1;
    transition: 0.3s;
}

@media screen and (min-width: 0px) and (max-width: 768px) {

    .Leatest-Products .container .chair-prodcut {
        width: 100%;
    }

    .Leatest-Products .container .chair-prodcut .chair-image {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1684px) {

    .Leatest-Products .container .chair-prodcut {
        width: calc((100% - 37px) / 2);
    }

    .Leatest-Products .container .chair-prodcut .chair-image {
        width: 100%;
    }

    .Leatest-Products .container .icons-images {
        flex-direction: row;
        top: 150px;
    }
}

@media screen and (min-width: 1685px) and (max-width: 1920px) {

    .Leatest-Products .container .chair-prodcut {
        width: calc((100% - 74px) / 3);
    }

    .Leatest-Products .container .chair-prodcut .chair-image {
        width: 100%;
    }
}

/*end the Leatest Product*/

