.header .container {
    width: 1177px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 40px;
}

a:hover {
    color: #9cffff;
    font-size: 25px;
}

.first-item:hover .akar {
    background-color: #9cffff;
}

.akar {
    transition: 0.4s;
}

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    padding: 15px 0;
    top: 0;
    z-index: 1;
}


.header .list ul {
    display: flex;
    gap: 36px;
}

.header button {
    border: 0;
    border-left: 2px solid #E7E6EF;
}

.header button img {

    margin: 0 13px;
}



.header input {
    border: 0;
}

.header form {
    display: flex;
    border: 2px solid #E7E6EF;
}

.input-search {
    height: 40px;
    display: flex;
}

.product {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.home {
    color: var(--primary);
}

.fa-solid.fa-list-ul.menu {
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 920px) {

    .header .list,
    .header .input-search {
        display: none;
    }

    .fa-solid.fa-list-ul.menu {
        display: block;
        font-size: 30px;
        color: #0D0E43;
        cursor: pointer;
    }
}

/*footer style*/
.footer {
    background-color: #EEEFFB;
    padding: 50px 0;
    margin-top: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.footer .row {

    align-items: center;
    justify-content: space-between;

}

.footer .row .right-footer .row {
    gap: 89px;
}

.footer .left-footer {
    display: flex;
    flex-direction: column;

    gap: 34.43px;
}

.footer .left-side {
    display: flex;
    flex-direction: column;
    gap: 46.65px;
}

.footer .left-side-items ul {
    display: flex;
    flex-direction: column;
    gap: 23.32px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer .center {
    display: flex;
    flex-direction: column;
    gap: 46.65px;
}

.footer .center-items ul {

    display: flex;
    flex-direction: column;
    gap: 23.32px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer .right-side {
    display: flex;
    flex-direction: column;
    gap: 46.65px;

}

.footer .right-side-items ul {

    display: flex;
    flex-direction: column;
    gap: 23.32px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer form {
    display: flex;
}

.footer input {
    width: 242px;
    height: 45px;
    padding-left: 20px;
    border-radius: 3px;
    border: 0;
}

.footer button {
    width: 135px;
    height: 45px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
}

input::placeholder {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #8A8FB9;
}

.bottome-text-left-footer {
    display: flex;
    flex-direction: column;
    gap: 13.21px;
}

.footer a {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #8A8FB9;
}

.footer button:hover {
    color: #0D0E43;
}

a:hover {
    text-decoration-line: underline;
}

@media screen and (min-width: 0px) and (max-width: 853px) {
    .footer .row {
        justify-content: center;
        align-items: center;
    }

    .footer .left-footer,
    .right-footer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer .right-footer .left-side,
    .footer .right-footer .center,
    .footer .right-footer .right-side {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer .left-footer form {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .footer .left-footer form button {
        width: 100%;
    }

    .footer .left-footer .bottome-text-left-footer {
        align-items: center;
        text-align: center;
    }

    .footer .right-footer ul {
        align-items: center;
        text-align: center;
    }
}

@media screen and (min-width: 854px) and (max-width: 1900px) {

    .footer .left-footer,
    .footer .right-footer {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer .right-footer .left-side,
    .footer .right-footer .center,
    .footer .right-footer .right-side {
        width: calc((100% - 178px) / 3);
        justify-content: center;
        align-items: center;
    }

    .footer .right-footer .row {
        gap: 66px;

    }
}

/*end footer style*/


/*start hero section*/
.hero-section {
    background-image: url("../image/Rectangle\ 102.png");
    height: 462px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.text-hero-section {
    width: 574px;
    height: 185px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

.text-hero-section h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    color: #151875;
    font-weight: bold;
    text-align: center;
    line-height: 155%;
    letter-spacing: 1.5%;
}

.text-hero-section button {
    width: 173px;
    height: 49px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    font-weight: regular;
    border-radius: 2px;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .hero-section {
        height: 300px;
        margin-top: 150px;
    }

    .text-hero-section {
        width: 90%;
        height: auto;
    }

    .text-hero-section h1 {
        font-size: 24px;
    }
}

/*end hero section*/
/*start product section*/
.Featured-Products {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Featured-Products h3 {
    color: var(--primary);
    font-family: Lato, sans-serif;
}

.Featured-Products .color-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 52px;
    height: 4px;
}

.Featured-Products button {
    width: 14px;
    height: 4px;
    border-radius: 10px;

}

.Featured-Products .Turquoise {
    background-color: #05E6B7;
}

.Featured-Products .Hot-Pink {
    background-color: #F701A8;
}

.Featured-Products .blue {
    background-color: #00009D;
}

.Featured-Products .row {
    flex-direction: column;
    gap: 46px;
}

.Featured-Products .row .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.Featured-Products .row .product-card {
    display: flex;
    flex-direction: column;

    width: 270px;
    height: 361px;
    border: 1px solid #ffffff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.Featured-Products .product-image {
    width: 270px;
    height: 236px;
    background-color: #F6F7FB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Featured-Products .image-info {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    height: 125px;
    padding-top: 15px;
}

.Featured-Products .price-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}




.Featured-Products .group {
    background-color: #EEEFFB;
}

.Featured-Products .image-button {
    position: absolute;
    bottom: 5px;
    opacity: 0;
}

.Featured-Products .details {
    width: 94px;
    height: 29px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    font-weight: medium;
    border-radius: 2px;
    background-color: #08D15F;

}

.Featured-Products .product-card:hover .icons-images,
.Featured-Products .product-card:hover .image-button {
    opacity: 1;
    transition: 0.4s;
}

.Featured-Products .product-card:hover {
    box-shadow: 0px 0px 0px;
    border: 1px solid #f0e9e9;

}

.Featured-Products .product-card:hover .active-h3 {
    color: #FFFFFF;
}

.Featured-Products .product-card:hover .image-info-active {
    background-color: #2F1AC4;
}

.Featured-Products .product-card:hover .blue-active {
    background-color: #FFEAC1;
}

.Featured-Products .product-card:hover .price-info-active span {
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
}



@media screen and (min-width: 0px) and (max-width: 768px) {

    .Featured-Products .row .product-card {
        width: 100%;
    }

    .Featured-Products .row .product-image {
        width: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1684px) {

    .Featured-Products .row .product-card {
        width: calc((100% - 30px) / 2);
    }

    .Featured-Products .row .product-image {
        width: 100%;
    }
}

@media screen and (min-width: 1685px) and (max-width: 1920px) {

    .Featured-Products .row .product-card {
        width: calc((100% - 90px) / 4);
    }

    .Featured-Products .row .product-image {
        width: 100%;
    }
}

/*end product section*/
/*start promotional header section*/
.promotional-header {
    margin-top: 130px;
    background-color: #F2F0FF;
}

.promotional-header .row {
    width: 100%;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}

.promotional-header .container .header-left {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: calc((100% - 85px));
    max-width: 581px;
}

.promotional-header .container .header-left .first-item {
    font-size: 16px;
    color: var(--primary);
    font-family: "Lato", sans-serif;
    font-weight: bold;
    line-height: 28px;
}

.promotional-header .container .header-left .second-item {
    font-size: 16px;
    color: #8A8FB9;
    font-family: "Lato", sans-serif;
    line-height: 28px;
    max-width: 560px;
}

.promotional-header .container .header-left button {
    font-family: "Josefin Sans", sans-serif;
    width: 135px;
    height: 45px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 3px;
}

.promotional-header .container .header-left h2 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 350;
    font-size: 53px;
    max-width: 581px;
    line-height: 170.5%;
    letter-spacing: 1.5%;
}

.promotional-header .container .header-right {
    max-width: 706px;

}

.promotional-header img {
    width: 100%;
    max-width: 525px;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
    .promotional-header .row {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .promotional-header .container .header-left {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .promotional-header .container .header-right {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

}

/*end promotional header section*/
/*start Leatest products section*/
.Leatest-Products {
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Leatest-Products .container .h2-and-list {
    display: flex;
    flex-direction: column;
    gap: 19px;
}


.Leatest-Products .row {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 58px;
    width: 100%;
}

.Leatest-Products .leatest-product-newArrival {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
    flex-wrap: wrap;
}

.Leatest-Products .leatest-product-newArrival .chair-image {
    background-color: #EEEFFB;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
}

.Leatest-Products .chair-prodcut {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: calc((100% - 111px) / 3);
}

.Leatest-Products .sale-product {
    position: absolute;
    top: 10px;
    left: 0px;
    opacity: 0;
}

.Leatest-Products .text-image {
    display: flex;
    justify-content: space-between;
}

.Leatest-Products .container .text-image h3 {
    color: #151875;
    font-family: "Josefin Sans";
    font-size: 16px;
    font-weight: 500;
}

.Leatest-Products .icons-images {
    flex-direction: column;
    bottom: -90px;
    left: 13px;
    justify-content: center;
    align-items: center;
}

.Leatest-Products .container .img-chair {
    max-width: 245px;
    width: 100%;
}

.Leatest-Products .container .text-image .price-info span {
    font-family: "Josefin Sans";
    font-size: 14px;
    font-weight: 400;
}

.Leatest-Products .container .text-image .price-info .line-through {
    font-size: 12px;
    color: var(--primary);
    text-decoration: line-through;
}

.Leatest-Products .container .chair-image:hover {
    background-color: #ffffff;
}

.Leatest-Products .container .chair-image:hover .img-chair {
    border: 1px solid #000000;
}

.Leatest-Products .container .chair-image:hover .sale-product,
.Leatest-Products .container .chair-image:hover .icons-images {
    opacity: 1;
    transition: 0.3s;
}

@media screen and (min-width: 0px) and (max-width: 768px) {

    .Leatest-Products .container .chair-prodcut {
        width: 100%;
    }

    .Leatest-Products .container .chair-prodcut .chair-image {
        width: 100%;
    }

    .Leatest-Products .leatest-product-ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1684px) {

    .Leatest-Products .container .chair-prodcut {
        width: calc((100% - 37px) / 2);
    }

    .Leatest-Products .container .chair-prodcut .chair-image {
        width: 100%;
    }

    .Leatest-Products .container .icons-images {
        flex-direction: row;
        top: 150px;
    }

    .Leatest-Products .leatest-product-ul li {
        width: calc((100% - 174px) / 4);
    }
}

@media screen and (min-width: 1685px) and (max-width: 1920px) {

    .Leatest-Products .container .chair-prodcut {
        width: calc((100% - 74px) / 3);
    }

    .Leatest-Products .container .chair-prodcut .chair-image {
        width: 100%;
    }
}

/*end the Leatest Product*/
/*start the Shopex Offer*/



.Shopex-offer .row .Cards-shopex {
    display: flex;
    gap: 28px;
}

.Shopex-offer .container .shopex-offer-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 27px;
    justify-content: center;
    align-items: center;
    width: calc((100% - 84) / 4);
    min-height: 320px;
    transition: 0.3s;
    width: calc((100% - 84px) / 4);
}

.Shopex-offer .container .shopex-offer-text p {
    color: rgba(26, 11, 91, 0.3);
    width: 217px;
    height: 85px;
    text-align: center;
    line-height: 25.6px;
    font-family: "Lato";
}

.Shopex-offer .container .shopex-offer-text h3 {
    color: #151875;
    font-size: 22px;
    font-family: "Josefin Sans";
    font-weight: 600;
}

.Shopex-offer .container .shopex-offer-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 1050px) {

    .Shopex-offer .container .Cards-shopex .shopex-offer-card {
        width: 100%;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1815px) {

    .Shopex-offer .container .Cards-shopex .shopex-offer-card {
        width: calc((100% - 28px) / 2);
        max-width: none;
    }

    .Leatest-Products .container .chair-prodcut .chair-image {
        width: 100%;
    }

}

@media screen and (min-width: 1816px) and (max-width: 2000px) {

    .Shopex-offer .container .Cards-shopex .shopex-offer-card {
        width: calc((100% - 84px) / 4);
        max-width: none;
    }

    .Leatest-Products .container .chair-prodcut .chair-image {
        width: 100%;
    }
}

/*end the Shopex Offer*/
/*start the Trending Product*/

.Trending-Product .container .Trending-product-card {
    width: calc((100% - 87px) / 4);
    min-height: 350px;
    transition: 0.3s;
}

.Trending-Product .container .Cards-image {
    width: calc((100% - 22px));
    min-height: 244px;
    height: auto;
}

.Trending-Product .price {
    gap: 12px;
}

.Trending-Product .container .span42 {
    color: rgba(26, 11, 91, 0.3);
}

@media screen and (min-width: 0px) and (max-width: 1050px) {

    .Trending-Product .container .Trending-product-card {
        width: 100%;
    }

    .Trending-Product .container .Trending-product-card {
        width: 100%;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1615px) {

    .Trending-Product .container .Trending-product-card {
        width: calc((100% - 29px) / 2);
        max-width: none;
    }
}

@media screen and (min-width: 1616px) and (max-width: 2000px) {

    .Trending-Product .container .Trending-product-card {
        width: calc((100% - 87px) / 4);
        max-width: none;
    }
}

/*end Trending-Product Section*/

/* start Top Cetegories Section */
.Top-Categories .Top-Categories-card .Cards-image {
    border-radius: 50%;
    flex: 1 1 100%;
    width: 100%;
    position: relative;
}

.Top-Categories .Top-Categories-card {
    gap: 27px;
    width: calc((100% - 117px) / 4);
    min-height: 345px;
}

.Top-Categories .image-button {
    position: absolute;
    bottom: 24px;
    transition: 0.4s;
}

.Top-Categories .Top-Categories-card:hover .image-button {
    opacity: 1;
}

.Top-Categories .Top-Categories-card:hover .Cards-image {
    box-shadow: -12px 4px 0 0 #9574e5,
        0 0 40px rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 0px) and (max-width: 867px) {

    .Top-Categories .Top-Categories-card {
        width: 100%;
    }
}

@media screen and (min-width: 868px) and (max-width: 1615px) {

    .Top-Categories .Top-Categories-card {
        width: calc((100% - 39px) / 2);
    }
}

@media screen and (min-width: 1616px) and (max-width: 1900px) {

    .Top-Categories .Top-Categories-card {
        width: calc((100% - 117px) / 4);
    }
}

/* end Top Categories Section */

/* end Top Categories Section */
/*start Leatest Blog*/
.Leatest-Blog .container .Leatest-Blog-Card {
    width: calc((100% - 168px) / 3);
    transition: 0.3s;
}

.Leatest-Blog .container .Blog-Cards {
    gap: 59px;
}

.Leatest-Blog .container .Leatest-Blog-Card:hover .Leatest-Blog .container .Leatest-Blog-test {
    justify-content: flex-start;
    align-items: start;
    padding-left: 14px;
}

.Leatest-Blog .container .Leatest-Blog-test .text-Blog {
    justify-content: flex-start;
    align-items: start;
    padding-left: 14px;
}

.Leatest-Blog .container .icons-Blog {
    width: 100%;
    justify-content: flex-start;
    align-items: start;
    padding-left: 14px;
}

.Leatest-Blog .container .Blog-image img {
    border-radius: 10px;
    width: 100%;
}

.Leatest-Blog .container .text-Blog p {
    color: #72718F;
    line-height: 30px;
}

.Leatest-Blog .container .Leatest-Blog-Card:hover h3,
.Leatest-Blog .container .Leatest-Blog-Card:hover a {
    color: var(--primary);
}

.Leatest-Blog .container a:hover {
    color: var(--primary);
    font-size: 16px;
}

@media screen and (min-width: 0px) and (max-width: 1900px) {

    .Leatest-Blog .container .Leatest-Blog-Card {
        width: 60%;
    }

    .Leatest-Blog .container .Blog-image {
        width: 100%;
    }

    .Leatest-Blog {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1901px) and (max-width: 3000px) {

    .Leatest-Blog .container .Leatest-Blog-Card {
        width: calc((100% - 168px) / 3);
    }

}

/*end Leatest Blog Section */